@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
	@page {
		/* Removes header and footer from print area */
		margin: 0;
	}
	body {
		visibility: hidden;
	}
	#printable {
		visibility: visible;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
	}
}
